.cizgi1{
    border-left: 1px solid black;
    float: left;
    display: block;
    height: 100%;
    position: fixed;
    left: 15%;
}


.kutu{
    width: 750px;
    float: left;
    position: fixed;
    left: 20%;
    
}

.baslik{
    font-size: 50px;
    color: red;
    text-align: center;
    margin-top: 3px;
}

.yazi{
    font-size: 25px;
}